[Unit]
Description=Moloch Parliament
After=network.target

[Service]
Type=simple
Restart=on-failure
StandardOutput=tty
EnvironmentFile=-/etc/conf.d/moloch-parliament
ExecStart=/bin/sh -c '/usr/bin/node parliament.js -c /etc/moloch/parliament.json ${MOLOCH_PARLIAMENT_OPTIONS} >> /var/log/moloch-parliament.log 2>&1'
WorkingDirectory=/usr/lib/moloch/parliament

[Install]
WantedBy=multi-user.target
